.footer__column-link {
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  opacity: 100%;
  transition: opacity 2s;
}

.footer__column-link:hover {
  opacity: 50%;
}
